[submodule "project-2-frontend"]
	path = project-2-frontend
	url = https://github.com/LuisGVazquezV/project-2-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/dhruv810/project2-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/LuisGVazquezV/frontend.git
